.adobe
.android
.aptitude
.bash_history
.bash_logout
.cache
.compiz
.config
.dbus
.dia
.dmrc
.eclipse
.ecryptfs
.filezilla
.gconf
.gimp-2.8
.git
.gitconfig
.gksu.lock
.gnome2
.gnome2_private
.gstreamer-0.10
.gtk-bookmarks
.hplip
.ICEauthority
.icedtea
.icons
.java
.lesshst
.lftp
.local
.macromedia
.mission-control
.mono
.mozilla
.mysql
.mysql_history
.node-gyp
.npm
.pgadmin3
.pgadmin_histoqueries
.pgpass
.pip
.pki
.Private
.profile
.psql_history
.pulse
.pulse-cookie
.purple
.putty
.pylint.d
.pyhistory
.recently-used
.shutter
.Skype
.ssh
.subversion
.thumbnails
.thunderbird
.vim
.viminfo
.VirtualBox
.wireshark
.Xauthority
.xsession-errors
.xsession-errors.old

Backup
Desktop
Documents
Downloads
dumps
fileparser
Music
partage
Pictures
Private
projects
Templates
temp.py
testgit
tmp
Tools
Untitled0.ipynb
Videos
VMs
workspace